:root {
  --primary: rgb(19, 19, 19);
  --secondary: rgb(21, 197, 182);
<<<<<<< HEAD
  font-family: 'IBM Plex Mono', monospace;
=======
  font-family: Arial, Helvetica, sans-serif;
>>>>>>> 746f6e49ef72a60f39bf1f62a316ba4b06bfa153
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--secondary);
  background-color: var(--primary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

a:hover {
  color: orange;
}

main {
  min-height: 600px;
  display: grid;
  place-items: center;
}

.homelink.active {
  color: orange;
}

<<<<<<< HEAD
.cursolink.active {
  color: green;
}

p {
  font-size: 14px;
  margin-inline: 20px; /* Ajusta el margen izquierdo y derecho a tu preferencia */
  padding: 0;
  text-align: center;
}
.medium-image {
  width: 80%;
}
=======
.contactlink.active {
  color: green;
}

>>>>>>> 746f6e49ef72a60f39bf1f62a316ba4b06bfa153
